# Demo directory
# Ignore build outputs and dependencies
demo/**/node_modules/
demo/**/.next/
demo/**/dist/
demo/**/.env
demo/**/.DS_Store
demo/**/*tsbuildinfo
demo/**/vite.config.d.ts

# Build outputs
sdk/dist/**
server/dist/**

# macOS
.DS_Store

# Common ignores
node_modules/
.env
.env.local
